$primary-color-900: #1c256d
$primary-color-800: #283683
$primary-color-700: #303f8f
$primary-color-600: #38499b
$primary-color-500: #3e51a4
$primary-color-400: #5b6ab1
$primary-color-300: #7885be
$primary-color-200: #9da7d1
$primary-color-100: #c4c9e4
$primary-color-50: #e8eaf4

$secondary-color-900: #c90000
$secondary-color-800: #d6000b
$secondary-color-700: #e30615
$secondary-color-600: #f51d1a
$secondary-color-500: #ff2d17
$secondary-color-400: #ff443c
$secondary-color-300: #f46a66
$secondary-color-200: #fb9691
$secondary-color-100: #ffcbce
$secondary-color-50: #ffeaed
