@import 'color'
@import 'metric'

.compContainer
  @include breakpoint(desktop)
    max-width: 1000px
    margin: 100px auto
  @include breakpoint(tablet)
    max-width: 90%
    margin: 100px auto
  @include breakpoint(mobile)
    max-width: 95%
    margin: 50px auto
  h1
    color: $primary-color-800

.blockContainer
  padding: 0 25px
  cursor: default
  border: 5px $primary-color-800 solid
  h3
    color: $primary-color-400
    font-size: 22px
    @include breakpoint(mobile)
      font-size: 14px

  p
    font-size: 16px
    @include breakpoint(mobile)
      font-size: 12px
  .blocks
    text-align: center
    display: flex
    flex-flow: row wrap
    justify-content: space-evenly
    align-items: baseline
    height: 450px
    @include breakpoint(mobile)
      height: 300px

    div
      height: 100px
      flex: 0 1 40%
      @include breakpoint(mobile)
        flex: 0 1 45%
        height: 80px


.solidBlock
  border: 5px $primary-color-800 solid

.dashedBlock
  border: 5px $primary-color-400 dashed