@import 'color'
@import 'metric'

.compContainer
  @include breakpoint(desktop)
    margin: 100px auto
  @include breakpoint(tablet)
    margin: 100px auto
  @include breakpoint(mobile)
    margin: 50px auto
  h1
    color: $primary-color-800

.blockContainer
  background-color: $primary-color-50
  padding: 1px 30px
  cursor: default
  h3
    color: $primary-color-400
    font-size: 36px
    @include view(mobile)
      font-size: 18px

  .blocks
    h3
      font-size: 36px
      margin: 0
      @include view(mobile)
        font-size: 14px
    
    p
      margin: 0
      @include view(mobile)
        font-size: 10px

    text-align: center
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: baseline
    height: 640px
    @include view(mobile)
      height: 300px

    div
      display: flex
      flex-flow: column nowrap
      justify-content: center
      align-items: center
      height: 167px
      flex: 0 1 49%
      @include view(mobile)
        flex: 0 1 45%
        height: 80px


.solidBlock
  background-color: #ffffff

.dashedBlock
  box-sizing: border-box
  border: 8px $primary-color-400 dashed
  background-color: $secondary-color-100

  p
    font-style: italic