@import 'color'

.featureCardContainer
  display: flex
  justify-content: space-around
  align-items: center
  margin: 1.5em 0

.featureSnipppet 
  width: 150px
  height: 150px
  background-color: #e5e5e5

.featureCard
  h1
    color: $logoSecondary
  
  h2
    color: $extraColor1
    width: 300px
  
  p
    width: 500px