@import 'color'

.featureCardContainer
  display: flex
  justify-content: space-around
  align-items: center
  margin: 200px 0
 
.featureSnipppet 
  width: 150px
  height: 150px
  background-color: #e5e5e5

.featureCard
  h1
    color: $logo-color-1
  
  h2
    font-weight: 300
    color: $logo-color-3
    width: 300px
  
  p
    width: 500px