// @use 'color';


$logo-primary: #283583;
$logo-secondary: #E30613;
$extra-1: #538DDF;
$extra-2: #7357DB;
$extra-3: #86092A;

h1 {
  color: $logo-primary;
}

h2 {
  color: $extra-1;
  width: 300px;
}

p {
  width: 500px;
}