.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    padding: 0 25px;
    flex: 0 1 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      flex: 0 1 auto;
      justify-content: space-evenly;
      display: inline-block;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.logo {
  flex: 0 1 270px;
}