@import 'metric'
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

body
  margin: 0

h1
  font-size: 55px
@include breakpoint(mobile)
  h1
    font-size: 25px

h2
  font-size: 40px
@include breakpoint(mobile)
  h2
    font-size: 18px

h3
  font-size: 24px

p
  font-size: 30px
@include breakpoint(mobile)
  p
    font-size: 18px

.fade-section
  opacity: 0
  visibility: hidden
  transition: opacity 0.8s ease-in-out
  will-change: opacity, visibility

.fade-section.is-visible
  opacity: 1
  visibility: visible


.footer-container
  @include breakpoint(desktop)
    max-width: 1000px
    margin: auto
  @include breakpoint(tablet)
    max-width: 90%
    margin: auto
  @include breakpoint(mobile)
    max-width: 80%
    margin: auto
    flex-flow: column nowrap
  display: flex
  justify-content: space-between
  align-items: baseline

  div
    flex: 0 1 30%

.layout-container
  margin: 20px

#logo-snippet
  width: 245px

.snippet-img
  text-align: center

#integration-snippet
  padding-top: 65px
  width: 245px

#chart-snippet
  width: 476px