@import 'color'
@import 'metric'

.introContainer
  display: flex
  justify-content: space-between
  align-items: center
  height: 60em
  @include responsive-layout(desktop)
  @include responsive-layout(tablet)
  @include responsive-layout(mobile)
    height: auto
    flex-flow: column nowrap
  
  .introTexts
    flex: 0 1 60%
    h1
      color: $primary-color-500
  
  .introSnippets
    flex: 0 1 40%

    .introSnippetDeviation
      position: relative
      left: 3em
      bottom: 40px


.integrationContainer
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: flex-start
  height: 40em
  @include responsive-layout(desktop)
  @include responsive-layout(tablet)
  @include responsive-layout(mobile)
    align-items: center
    flex-flow: column nowrap
    height: 100em

  .integrationPart
    flex: 0 1 30%
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center

    .integrationTexts
      text-align: center
      @include responsive-size(mobile)
        max-width: 35em
      h3
        color: $primary-color-500
      
      p
        font-weight: 300
        
    .integrationSnippets
      $diameter: 20em;
      width: $diameter
      height: $diameter
      border-radius: $diameter
      background-color: $primary-color-50


.featureContainer
  h2
    color: $primary-color-500

  @include responsive-layout(desktop)
  @include responsive-layout(tablet)
  @include responsive-layout(mobile)
    flex-flow: column nowrap
    margin: 0 6.25em
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: flex-start

  .featurePart
    margin: 1em 0
    display: flex
    justify-content: space-evenly
    align-items: center
    @include responsive-size(mobile)
      display: block
      margin: 0

    .featureTexts
      flex: 0 0 50%
      @include responsive-size(tablet)
        flex: 0 1 24em

      h2
        color: $primary-color-500
      p
        font-size: 150%

    .featureSnippets
      flex: 0 1 auto
      @include responsive-size(mobile)
        display: none


.installContainer
  background-color: $primary-color-50
  padding: 9em 20%
  @include responsive-size(tablet)
    padding: 7.5em 6.25em
  @include responsive-size(mobile)
    padding: 1.75em
  text-align: center

  .installTexts
    background-color: #ffffff
    padding: 10px 0

    h1
      font-weight: bold

    p
      span
        font-family: Courier New, Courier, monospace
        font-weight: 600
        background-color: #e5e5e5
        padding: 20px 10px
        user-select: all
        &::selection
          color: $primary-color-500
        &:hover
          background: rgba(0, 0, 0, .2)

    h3
      margin: 20px 0
      font-weight: 300