@import 'color'
@import 'metric'

.introContainer
  display: flex
  justify-content: space-between
  align-items: center
  @include breakpoint(desktop)
  @include breakpoint(tablet)
    height: 800px
  @include breakpoint(mobile)
    margin: 0 auto
    flex-flow: column nowrap
    height: 400px
  
  .introTexts
    flex: 0 1 auto
    h1
      color: $primary-color-500
  
  .introSnippets
    flex: 0 1 auto

    .introSnippetDeviation
      position: relative
      left: 120px
      bottom: 40px
      @include view(tablet)
        left: 50px
        bottom: 40px
      @include view(mobile)
        display: none


.integrationContainer
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: flex-start
  height: 550px
  @include breakpoint(desktop)
  @include breakpoint(tablet)
  @include breakpoint(mobile)
    align-items: center
    flex-flow: column nowrap
    height: 1350px

  .integrationPart
    flex: 0 1 30%
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center

    .integrationTexts
      text-align: center
      @include view(mobile)
        max-width: 500px
      h3
        color: $primary-color-500
      
      p
        font-weight: 300
        
    .integrationSnippets
      width: 245px
      height: 245px
      border-radius: 245px
      background-color: $primary-color-50


.featureContainer
  h2
    color: $primary-color-500
  @include breakpoint(desktop)
  @include breakpoint(tablet)
  @include breakpoint(mobile)
    flex-flow: column nowrap
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  align-items: flex-start

  .featurePart
    margin: 0 0 200px 0
    display: flex
    justify-content: space-between
    align-items: center
    @include view(mobile)
      margin: 0

    .featureTexts
      flex: 0 0 581px
      @include view(tablet)
        flex: 0 1 581px
      @include view(mobile)
        flex: 0 1 auto

      h2
        color: $primary-color-500

    .featureSnippets
      flex: 0 1 600px
      @include view(mobile)
        display: none


.installContainer
  background-color: $primary-color-50
  padding: 150px 20%
  @include view(tablet)
    padding: 150px 200px
  @include view(mobile)
    padding: 40px
  text-align: center

  .installTexts
    background-color: #ffffff
    padding: 10px 0

    h1
      font-weight: bold

    p
      span
        font-family: Courier New, Courier, monospace
        font-weight: 600
        background-color: #e5e5e5
        padding: 20px 10px
        user-select: all
        &::selection
          color: $primary-color-500
        &:hover
          background: rgba(0, 0, 0, .2)

    h3
      margin: 20px 0
      font-weight: 300