@import 'color'
@import 'metric'

.introContainer
  @include breakpoint(desktop)
    max-width: 1000px
    margin: auto
  @include breakpoint(tablet)
    max-width: 90%
    margin: 100px auto
  @include breakpoint(mobile)
    max-width: 95%
    margin: 0 auto

  .introTexts
    h1
      color: $logo-color-1

    p
      color: $logo-color-1
    

.featureContainer
  @include breakpoint(desktop)
    max-width: 1000px
    margin: 200px auto
  @include breakpoint(tablet)
    max-width: 90%
    margin: 100px auto
  @include breakpoint(mobile)
    max-width: 95%
    margin: 80px auto
    flex-flow: column nowrap
  display: flex
  justify-content: space-between
  align-items: center

  .featureTexts
    h1
      color: $logo-color-1
    
    h2
      font-weight: 300
      color: $logo-color-3
      // width: 300px
    
    p
      // width: 500px


.installContainer
  background-color: $primary-color-100
  padding: 230px 300px
  @include breakpoint(tablet)
    padding: 150px 200px
  @include breakpoint(mobile)
    padding: 40px
  text-align: center

  .installTexts
    background-color: #ffffff
    padding: 10px 0

    h1
      font-weight: 800

    h2
      span
        font-family: Courier New, Courier, monospace
        font-size: 16px
        background-color: #e5e5e5
        padding: 10px 10px

.quoteContainer
  @include breakpoint(desktop)
    max-width: 1000px
    margin: auto
  @include breakpoint(tablet)
    max-width: 90%
    margin: 100px auto
  @include breakpoint(mobile)
    max-width: 95%
    margin: 50px auto
  text-align: center
  color: $logo-color-1
  
  .quoteTexts
    h3
      font-weight: 400
    h4
      text-align: right
      font-weight: 300